.row
	.span4.example
		include left.html
	.span8
		include code.html
		script(type="text/coffeescript")
			include code.coffee
	.span4.example
		include right.html
.row.text
	.offset1.span14
		include text.html
