input.red(placeholder="Try me...")
small.red
	:markdown
		**Red Input** syncs on `keyup` events.

input.green(placeholder="Try me too...")
small.green
	:markdown
		**Green Input** syncs on `change` events.

button.blue Uppercase it!
small.blue
	:markdown
		**Blue Button** uppercases the model's field.
