input.red(placeholder="start typing...")
small.red
	:markdown
		The red input syncs on `keyup` events.

input.green
small.green
	:markdown
		The green input syncs on `change` events.

button.blue Uppercase it!
