span.amber
small.amber
  | The amber span syncs on model
  code change
  | .

span.cyan(style="cursor:pointer")
small.cyan
  | The cyan span uppercases data.
  br
  | Click it to push the uppercased data.
