.row
  .span4.example
    include left
  .span8
    include code.html
    script(type="text/coffeescript")
      include code.coffee
  .span4.example
    include right
.row.text
  // include text.html
